# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.log
*.sqlite3
*.db
*.env
.env.*

# 📦 Pip / virtualenv
env/
venv/
.venv/
pip-wheel-metadata/
*.lock

# 🔥 Testes e cobertura
htmlcov/
coverage.*
.cache/
.tox/
.pytest_cache/

# 🧪 VSCode / editor
.vscode/
.idea/
*.swp

# 🐳 Docker
*.pid
*.sock
*.log
.dockerignore
Dockerfile*

# 🧪 devcontainer
.devcontainer/

# ⚙️ Configs de lint formatadores
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
pylint-report.txt

# 📦 Arquivos temporários e backups
*.bak
*.tmp
*.orig
*.DS_Store
Thumbs.db

# ⚙️ Outros
*.coverage
*.mo
*.pot
*.log
*.csv
*.tsv
