# Development dependencies for a Django project 
# Linting & Formatting
black==24.3.0
isort==5.12.0
flake8==6.1.0
flake8-bugbear==23.7.10
flake8-django==1.4.0
# pylint==3.1.0
pylint-django==2.5.3
pytest==8.4.0
pytest-django==4.5.2
pytest-cov==4.1.0
# Type Checking
